# Database Configuration
# Puedes usar DB_URL directamente o las variables individuales
DB_URL=postgresql://postgres:postgres@localhost:5432/postgres

# O usar variables individuales (se construirá la URL automáticamente)
DB_HOST=localhost
DB_NAME=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres

# Test Database Configuration (opcional)
TEST_DB_DB_HOST=localhost
TEST_DB_DB_NAME=postgres
TEST_DB_DB_PORT=5432
TEST_DB_DB_USER=postgres
TEST_DB_DB_PASS=postgres
TEST_DB_DB_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Flask Configuration
FLASK_ENV=development

# Porter Test
TEST_ENV=test-text-you-want-to-show
