"on":
  push:
    branches:
      - main
name: Deploy to frontend
jobs:
  porter-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set Github tag
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      - name: Debug Docker versions
        run: |
          echo "=== Docker Client ==="
          docker version
          echo "=== Docker Info ==="
          docker info | grep -iE 'version|api|storage|driver'
          echo "=== Which docker ==="
          which docker
      - name: Disable containerd snapshotter
        run: |
          echo '{"features":{"containerd-snapshotter":false}}' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker
          docker version
      - name: Setup porter
        uses: porter-dev/setup-porter@v0.1.0
      - name: Deploy stack
        timeout-minutes: 30
        run: porter apply --build-method pack --builder heroku/buildpacks:22 --attach-buildpacks heroku/nodejs
        env:
          PORTER_APP_NAME: frontend
          PORTER_CLUSTER: "1"
          PORTER_DEPLOYMENT_TARGET_ID: 33c402f7-047b-4765-8233-bf9494942ea4
          PORTER_HOST: https://noe-dev.withporter.run
          PORTER_PROJECT: "1"
          PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
          PORTER_TOKEN: ${{ secrets.PORTER_APP_1_1104217266 }}
